* {
    margin: 0;
    padding: 0;
}

.web {
    margin: 10px;
    width: 1024px;
}

#logo {
float: left;
height: 125px;
margin-right: 10px;
text-shadow: 1px 1px 1px rgba(0,0,0,0,2);
}
#judul {
    height: 115px;
    margin: 10px auto -15px auto;
    padding: 10 0 20 0;
    border-radius: 10px 10 px 0 0 ; 
    box-shadow: 0 0 10px rgba(0,0,0)inset;
}
 nav {

 }